body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: inline;
  padding: 8px 16px;
  text-decoration: none;
}

.navLink {
  color: #892778;
}

.navLink:hover {
  color: white;
  background: #892778;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 120%;
}

section {
  text-align: center;
}

.airline-logo {
  float: right;
}